$font-family: 'Be Vietnam Pro', sans-serif;
$heading-font-family: 'Nunito', sans-serif;
$text-color: #141414;
$main-color: #f5d00a;
$background-color: #ececec;
$black-color: #000000;
$white-color: #ffffff;
$red-color: #de313e;
$black-light-color: #2a2a2a;
$gray-color: #666666;
$blue-color: #1f73b7;
